{% extends 'base.html' %}

{% block content %}
<div class="container rounded bg-white mt-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5"
                     src="\static\img\{{current_user.image}}"
                     width="180">
                <span class="font-weight-bold">{{current_user.name}}</span><span
                    class="text-black-50">{{current_user.email}}</span><span>United States</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Edit Profile</h3>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="col-md-6">
                        {{ form.name(class="form-control
                        form-control-lg") }}
                        {{ form.name.label(class="form-label")}}
                    </div>
                    <div class="col-md-6">
                        {{ form.about(class="form-control
                        form-control-lg") }}
                        {{ form.about.label(class="form-label")}}
                    </div>
                    <div class="col-md-6">
                        {{ form.image(class="form-control
                        form-control-lg") }}
                        {{ form.image.label(class="form-label")}}
                    </div>
                    <div class="mt-5 text-right">
                        {{ form.submit(class="btn btn-primary profile-button")
                        }}
                    </div>
                </form>
                <form action="/delete_user/{{current_user.id}}" method="post">
                    <input type="submit" value="Удалить страницу"
                           class="btn btn-danger"></input>
                </form>

            </div>

        </div>

    </div>
</div>
{% endblock %}